# For loop

In [1]:
a='Python'
for i in a:
    print(i)

P
y
t
h
o
n

In [6]:
b=[12,5,6,8,7,32,99,1,665]
sum=0
for i in b:
    sum+=i
print(sum)

835

In [11]:
s=[1,2,3,4,5,6,7,8,9,10]
table=5
print("Table of 5 is :")
for i in s:
    pro=table*i
    print(pro)

Table of 5 is :
5
10
15
20
25
30
35
40
45
50

In [12]:
#in range() method in for loop
w=int(input("Enter a number to print table"))
for i in range(1,11):
    table=w*i
    print(table)

Enter a number to print table6
6
12
18
24
30
36
42
48
54
60

In [13]:
s=[5,8,7,9,6,3,4,2]
for i in range(len(s)):
    print(i)

0
1
2
3
4
5
6
7

In [14]:
# Program to print even number using step size in range().

n=int(input("Enter a number"))
for i in range(2,n,2):
    print(i)

Enter a number40
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [17]:
d=['Renu','Meena','Jeet','Krishna']
for i in range(len(d)):
    print('Hello',d[i])

Hello Renu
Hello Meena
Hello Jeet
Hello Krishna

# Nested for loops
Patterns

In [20]:
a=int(input('Enter a number of rows you want'))
for i in range(1,a+1):
    for j in range (1,i+1):
        print('*',end='')
    print()

Enter a number of rows you want8
*
**
***
****
*****
******
*******
********

In [22]:
a=int(input('Enter a number of rows you want :'))
for i in range(1,a+1):
    for j in range (1,i+1):
        print('*',end=' ')
    print()

Enter a number of rows you want :6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [29]:
for i in range(8,0,-1):
    for j in range(1,i):
        print('*',end=' ')
    print()

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [40]:
#a=int(input('Enter a number of rows you want :'))
for i in range(1,6):
    print(' '*(5-i),end='')
    for j in range (1,i+1):
        print('*',end='')
    print()

    *
   **
  ***
 ****
*****

In [41]:
for i in range(1,6):
    print(' '*(5-i),end='')
    for j in range (1,i+1):
        print(j,end='')
    print()

    1
   12
  123
 1234
12345

In [42]:
for i in range(1,6):
    print(' '*(5-i),end='')
    for j in range (1,i+1):
        print('*',end=' ')
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [43]:
for i in range(1,6):
    print(' '*(5-i),end='')
    for j in range (1,i+1):
        print(j,end=' ')
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [52]:
for i in range(5,0,-1):
    print(' '*(5-i),end='')
    for j in range (1,i+1):
        print(j,end='')
    print()

12345
 1234
  123
   12
    1

In [50]:
for i in range(ord('A'),ord('F')):
    for j in range(ord('A'),i+1):
        print(chr(j),end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

In [60]:
for i in range(1,8):
    for j in range(1,i+1):
        print(j%2,end=' ')
    print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1
1 0 1 0 1 0
1 0 1 0 1 0 1

In [63]:
for i in range(1,8):
    for j in range(1,i+1):
        print(j//2,end=' ')
    print()

0
0 1
0 1 1
0 1 1 2
0 1 1 2 2
0 1 1 2 2 3
0 1 1 2 2 3 3

In [64]:
for i in range(1,8):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7

In [65]:
a=int(input('Enter a number of rows you want :'))
num=1
for i in range(1,a+1):
    for j in range (1,i+1):
        print(num,end=' ')
        num+=1  
    print()

Enter a number of rows you want :6
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

In [66]:
a=int(input('Enter a number of rows you want :'))
for i in range(1,a+1):
    for j in range (1,i+1):
        print(j,end=' ')
    print()

Enter a number of rows you want :7
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

In [71]:
for i in range(1,9):
    for j in range(1,i+1):
        print('*',end='')
    print()
for i in range(8,0,-1):
    for j in range(1,i+1):
        print('*',end='')
    print()

*
**
***
****
*****
******
*******
********
********
*******
******
*****
****
***
**
*

In [70]:
for i in range(1,9):
    for j in range(1,i+1):
        print(j,end='')
    print()
for i in range(7,0,-1):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345
123456
1234567
12345678
1234567
123456
12345
1234
123
12
1

In [77]:
num=ord('A')
for i in range(1,6):
    for j in range(1,i+1):
        print(chr(num),end=' ')
        num=num+1
    print()

A
B C
D E F
G H I J
K L M N O

In [13]:
for i in range(1,8):
    print(' '*(7-i),end='')
    for j in range(1,i+1):
        print(j,end='')
    print()
for i in range(6,0,-1):
    print(' '*(7-i),end='')
    for j in range (1,i+1):
        print(j,end='')
    print()

      1
     12
    123
   1234
  12345
 123456
1234567
 123456
  12345
   1234
    123
     12
      1

In [14]:
for i in range(1,8):
    print(' '*(7-i),end='')
    for j in range(1,i+1):
        print('#',end='')
    print()
for i in range(6,0,-1):
    print(' '*(7-i),end='')
    for j in range (1,i+1):
        print('#',end='')
    print()

      #
     ##
    ###
   ####
  #####
 ######
#######
 ######
  #####
   ####
    ###
     ##
      #

In [33]:
k=8-1
for i in range(1,8):
    for j in range(1,k):
        print('*',end=' ')
    k=k-1
    for j in range(1,i+1):
        print('*',end=' ')
    print()

* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

In [41]:
k=8-1
for i in range(1,8):
    for j in range(1,k):
        print(end=' ')
    k=k-1
    for j in range(1,i+1):
        print('*',end=' ')
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [45]:
k=8-1
for i in range(1,8):
    for j in range(1,k):
        print('@ ',end=' ')
    k=k-1
    for j in range(1,i+1):
        print('# ',end=' ')
    print()

@  @  @  @  @  @  #
@  @  @  @  @  #  #
@  @  @  @  #  #  #
@  @  @  #  #  #  #
@  @  #  #  #  #  #
@  #  #  #  #  #  #
#  #  #  #  #  #  #